.app {
  background: #fdfdfd;
  //width: 1500px;

  .index-container {
    //width: 100%;
    //height: 100vh;
    //overflow: hidden;
    //panel {
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //}
    panel::-webkit-scrollbar {
      display: none;
    }
    .index-wrapper-title {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background: #b8ced8cf;
      background: #e9d7c766;
      //background: url("../../static/img/cloud.jpg") no-repeat;
      background-size: cover;
      .title-container{
        background: white;
        box-shadow: 0 1px 3px #b6b6b6ab;
        width: 700px;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        .title-name-wrapper {
          width: 40%;
          .title-name {
            margin-right: 20px;
            h1, h3 {
              margin: 0;
              float: right;
              span {
                font-size: 23px;
              }
            }
            h1 {
              padding: 10px 0;
            }
            h3 {
              font-size : 18px;
              color: #607D8B;
            }
          }
          animation: show 1.2s;
        }
        @keyframes show {
          from {
            display: none;
            opacity: 0;
            margin-top: -20px
          }
          to {
            display: block;
            opacity: 1;
            margin-top: 0;
          }
        }
        @keyframes show-second {
          from {
            opacity: 0;
            margin-top: -20px
          }
          20% {
            opacity: 0;
            margin-top: -20px
          }
          to {
            display: block;
            opacity: 1;
            margin-top: 0;
          }
        }
        .title-content-wrapper {
          width: 59%;
          border-left: 2px solid #696969;
          .title-content, .title-contact {
            margin-left: 20px;
            h3, h4 {
              margin:0;
            }
            h4 {
              color: #607D8B;
              a {
                text-decoration: none;
              }
            }
          }
          .title-content {
            margin-bottom: 20px;
            animation: show-second 1.5s;
          }
          .title-contact {
            animation: show-second 2s;
            h3 {
              color : #ff8d86;
              //color : #d39fb5;
              //color : #8064be;
              //color : #7c8eed;
              margin-bottom: 10px;
            }
          }
        }
        //.typing-text{
        //  z-index: 3;
        //  font-size: 2rem;
        //  color: #333333;
        //  border-right: 3px solid #333333;
        //  animation: blink .5s infinite, typing 10s steps(25) infinite;
        //  width: 0;
        //  white-space: nowrap;
        //  overflow: hidden;
        //  margin: 0;
        //  @keyframes blink {
        //    50% {
        //      border-color: transparent;
        //    }
        //  }
        //  @keyframes typing {
        //    from {
        //      width: 0;
        //    }
        //    25% {
        //      width: 380px;
        //    }
        //    to {
        //      width: 380px;
        //    }
        //  }
        //}
        //.background-image {
        //  position: absolute;
        //  border-radius: 50%;
        //  overflow: hidden;
        //  height: 165px;
        //  img {
        //    width: 250px;
        //    height: auto;
        //    opacity: .8;
        //  }
        //}
        //&:hover {
        //  .background-image {
        //    transition-property: all;
        //    transition-duration: 2s;
        //    border-radius: 0;
        //    height: auto;
        //  }
        //  img {
        //    transition-property: all;
        //    transition-duration: 2s;
        //    width: 200vh;
        //  }
        //}
      }
    }
    .index-wrapper-introduce {
      background: #fdfdfd;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      h1 {
        margin-top: 0;
      }
      .introduce-container{
        width: 80%;
        min-width: 500px;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #e6d1bfde;
        border-radius: 30px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        .introduce-picture{
          margin-left: 50px;
          border-radius: 20px;
          overflow: hidden;
          height: 70%;
          img {
            width: auto;
            height: 100%;
          }
        }
        .introduce-text-wrapper{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          align-content: center;
          max-width: 60%;
          margin-right: 50px;
          h2 {
            margin-top: 0;
            margin-bottom: 10px;
            color: #333333;
          }
          h3 {
            margin-top: 0;
            margin-bottom: 10px;
            color: #333333;
          }
          h4 {
            display: flex;
            margin: 0 0 5px;
            svg {
              padding-right: 10px;
            }
          }
          .introduce-text {
            width: 500px;
          }
          .education {
            padding-top: 50px;
            font-weight: bold;
            li {
              color: #606060;
              font-size: 16px;
              span {
                color: #333333;
                padding-left: 10px;
              }
            }
            li + li {
              padding-top: 20px;
            }
          }
        }
      }
    }
    .index-wrapper-skills {
      background: #fdfdfd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      position: relative;
      //.skills-box-1 {
      //  position: absolute;
      //  width: 50%;
      //  height: 50%;
      //  background: #ff8d86;
      //}
      //.skills-box-2 {
      //  position: absolute;
      //  width: 30%;
      //  height: 30%;
      //  background: #ff8d86;
      //}
        h1 {
          margin-top: 0;
        }
        .skill-wrapper {
          width: 80%;
        }
    }
    .index-wrapper-project-team, .index-wrapper-project-me{
      background: #efdfdd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: flex-start;
      h1 {
        margin: 0;
      }
      .project-container{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 70px;
        .project-wrapper {
          width: 30%;
          margin: 20px;
          position: relative;
          .img-wrapper {
            background: #fdfdfd;
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            height: 230px;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .project-info {
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            background: #fdfdfde6;
            width: 100%;
            height: 230px;
            bottom: 0;
            position: absolute;
            .project-skill{
              color: #333333;
              font-weight: bold;
              margin-top: 0;
            }
            .project-title{
              font-weight: bold;
              padding-bottom: 10px;
            }
            .project-content {
              max-width: 80%;
              font-weight: bold;
              color: #607D8B;
            }
          }
          .project-link {
            padding: 0 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            h2 {
              margin: 0;
              font-size: 17px;
              color: #fdfdfd;
              text-shadow: 0 0 5px #676767ab;
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 10px;
              svg {
                width: 30px;
                height: 30px;
              }
            }
            a:nth-of-type(1) {
              margin-left: auto;
            }
          }
          &:hover {
            .project-info {
              transition: 1s;
              display: flex;
            }
          }
        }
      }
    }
    .index-wrapper-contact {
      background: #fdfdfd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      h1 {
          z-index: 3;
          font-size: 2rem;
          color: #333333;
          border-right: 3px solid #333333;
          animation: blink .5s infinite, typing 4s steps(9) infinite;
          width: 0;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          @keyframes blink {
            50% {
              border-color: transparent;
            }
          }
          @keyframes typing {
            from {
              width: 0;
            }
            25% {
              width: 160px;
            }
            to {
              width: 160px;
            }
          }
        }
    }
  }
}