.app {
  background: #fdfdfd;
  //width: 1500px;
  //height: 120vh;

  .index-container {
    width: 100%;
    //height: 100vh;
    overflow: hidden;
    @keyframes show {
      from {
        display: none;
        opacity: 0;
        margin-top: -20px
      }
      to {
        display: block;
        opacity: 1;
        margin-top: 0;
      }
    }
    @keyframes show-second {
      from {
        opacity: 0;
        margin-top: -20px
      }
      20% {
        opacity: 0;
        margin-top: -20px
      }
      to {
        display: block;
        opacity: 1;
        margin-top: 0;
      }
    }
    @keyframes show-effect {
      from {
        opacity: 0;
      }
      20% {
        opacity: 0;
      }
      60% {
        opacity: 1;
      }
    }
    @keyframes scroll-page {
      from {
        margin-top: 30px;
      }
      to {
        margin-top: 0;
      }
    }
    @keyframes scrollIcon {
      from {
        bottom: 42px;
      }
      50% {
        bottom: 50px;
      }
      to {
        bottom: 42px;
      }
    }
    @keyframes follow-click {
    from {
        display: block;
        opacity: .8;
        transform: scale(1);
      }
      50% {
        display: block;
        opacity: .4;
        transform: scale(1.2);
      }
      to {
        display: none;
        opacity: .8;
        transform: scale(1);
      }
    }
    .nextPage {
      position:absolute;
      bottom: 50px;
      width: max-content;
      animation: show-second 7s, scrollIcon 1.5s infinite;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      left: 50%;
      svg {
        width: 3rem;
        height: 3rem;
        color: #607D8B;
      }
    }
    .clickMe {
      opacity: 0;
      animation: follow-click 2s 4s;
      animation-iteration-count: 5;
      position: absolute;
      top: 40vh;
      left: 80%;
      width: max-content;
      svg {
        color: #607D8B;
        width: 40px;
        height: 40px;
      }
    }
    .index-wrapper-title {
      animation: scroll-page .3s;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background: #b8ced8cf;
      background: #e9d7c766;
      background: #cbdbe72e;
      //background: url("../../static/img/cloud.jpg") no-repeat;
      background-size: cover;
      .title-container{
        background: white;
        box-shadow: 0 1px 3px #b6b6b6ab;
        width: 700px;
        height: 380px;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        .title-name-wrapper {
          width: 40%;
          .title-name {
            margin-right: 20px;
            h1, h3 {
              margin: 0;
              float: right;
              span {
                font-size: 23px;
              }
            }
            h1 {
              padding: 10px 0;
            }
            h3 {
              font-size : 18px;
              color: #607D8B;
            }
          }
          animation: show 1.2s;
        }
        .title-content-wrapper {
          width: 59%;
          border-left: 2px solid #696969;
          .title-content, .title-contact {
            margin-left: 20px;
            h3, h4 {
              margin:0;
            }
            h4 {
              color: #607D8B;
              a {
                text-decoration: none;
              }
            }
          }
          .title-content {
            margin-bottom: 20px;
            animation: show-second 1.5s;
          }
          .title-contact {
            animation: show-second 2s;
            h3 {
              color : #ff8d86;
              //color : #d39fb5;
              //color : #8064be;
              //color : #7c8eed;
              //color : #649cd5;
              //color : #8fcd91;
              color: #fdfdfd;
              background: #51a1f3;
              background: #ea818175;
              width: max-content;
              margin-bottom: 10px;
              padding: 0 3px;
              background: #333333f0;
              font-size: 15px;
            }
          }
        }
      }
    }
    .index-wrapper-introduce {
      animation: scroll-page .3s;
      background: #fdfdfd;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      h1 {
        margin-top: 0;
      }
      .introduce-container{
        width: 70%;
        min-width: 500px;
        height: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: #e6d1bfde;
        background: #ede0d8de;
        background: #fdfdfd;
        border-radius: 30px;
        align-content: space-around;
        align-items: center;
        justify-content: center;
        .introduce-picture{
          margin-left: 50px;
          border-radius: 20px;
          overflow: hidden;
          height: 60%;
          img {
            animation: show-effect 1s;
            width: auto;
            height: 100%;
          }
        }
        .introduce-text-wrapper{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-start;
          align-content: center;
          max-width: 60%;
          margin-right: 50px;
          h2 {
            animation: show-second 1s;
            margin-top: 0;
            margin-bottom: 10px;
            color: #333333;
          }
          h3 {
            margin-top: 0;
            margin-bottom: 10px;
            color: #333333;
          }
          h4 {
            animation: show-effect 2s;
            display: flex;
            margin: 0 0 5px;
            svg {
              padding-right: 10px;
            }
          }
          .introduce-text {
            width: 500px;
          }
          .education {
            animation: show-effect 3s;
            padding-top: 50px;
            font-weight: bold;
            li {
              color: #606060;
              font-size: 16px;
              span {
                color: #333333;
                padding-left: 10px;
              }
            }
            li + li {
              padding-top: 20px;
            }
          }
        }
      }
    }
    .index-wrapper-skills {
      animation: scroll-page .3s;
      background: #fdfdfd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
        h1 {
          margin-top: 0;
        }
        .skill-wrapper {
          //border: 3px #333333 solid;
          border-radius: 50px;
          width: 70%;
          position: relative;
          overflow: auto;
          //background: #cbdbe72e;
          .skill-container{
            padding: 15px 50px 30px;
            height: 65vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
            .langauge, .framework, .database, .etc {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              //width: 60%;
              //border: 1px solid gray;
              box-shadow: 1px 1px 0 #cedae194;
              //background: #fdfdfd;
              background: #cbdbe72e;
              border-radius: 30px;
              position: relative;
              justify-content: center;
              align-items: center;
              width: max-content;
              padding: 5px 40px;
              margin: 20px;
              align-content: space-around;
              div {
                font-weight: bold;
                color: #fdfdfd;
                border-radius: 50%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                img {
                  max-width: 100%;
                  max-height: 100%;
                }
                &:hover {
                  animation: hover-skill 1s;
                }
                @keyframes hover-skill {
                  from {

                  }
                  50% {
                    transform: scale(1.2);
                  }
                  to {
                    transform: scale(1);
                  }
                }
              }
              h3 {
                position: absolute;
                top: -67px;
                left: 10px;
                font-size: 26px;
              }
            }
            .langauge {
              animation: show-effect 1.5s;
              .java {
                width: 200px;
                height: 150px;
                font-size: 40px;
              }
              .javascript {
                width: 90px;
                height: 90px;
                padding: 0 20px;
              }
              .html-css {
                width: 70px;
                height: 70px;
              }
            }
            .framework {
              animation: show-effect 2s;
              width: 35%;
              height: 90%;
              padding: 0 10px;
              margin: 20px 0 0 20px;
              .spring, .springboot{
                //background: #77ba84;
                width: 130px;
                height: 130px;
                font-size: 25px;
              }
              .springboot {
                width: 180px;
                height: 180px;
              }
              .springsecurity, .springjpa {
                //background: #77ba84;
                width: 100px;
                height: 100px;
              }
              .servlet, .jsp{
                //background: #ce8a4b;
                width: 80px;
                height: 80px;
              }
              .mybatis {
                width: 100px;
                height: 100px;
              }
              .react {
                //background: #6bd3d2;
                width: 120px;
                height: 120px;
              }
            }
            .database {
              animation: show-effect 2.5s;
              margin: 30px 20px;
              .mysql, .oracle, .maria{
                //background: #ce4b4b;
                width: 100px;
                height: 100px;
                border-radius: 20px;
              }
              .maria {
                //background: #97685a;
              }
              .mysql {
                padding: 0 30px;
                width: 80px;
                height: 80px;
                //background: #5a7597;
              }
            }
            .etc {
              animation: show-effect 3s;
              margin-bottom: 0;
              div + div {
                padding-left: 15px;
              }
              .git, .svn {
                //background: #3f3d3d;
                width: 100px;
                height: 100px;
              }
              .svn {
                //background: #91b2dc;
              }
              .aws {
                //background: #ce8a4b;
                width: 100px;
                height: 100px;
              }
              .nginx, .tomcat {
                //background: #56a13e;
                width: 80px;
                height: 80px;
              }
              .tomcat {
                //background: #b79a3b;
              }
            }
          }
          .skills-box-1 {
            position: absolute;
            width: 50%;
            height: 50%;
            background: #ff8d86;
          }
          .skills-box-2 {
            position: absolute;
            width: 30%;
            height: 30%;
            background: #ff8d86;
          }
        }
    }
    .index-wrapper-project-team, .index-wrapper-project-me{
      animation: scroll-page .3s;
      //background: #efdfdd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: flex-start;
      position: relative;
      h1 {
        position: absolute;
        top: 10vh;
        left: 15%;
        margin: 0;
      }
      .project-container {
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-start;
        .project-wrapper {
          width: 340px;
          margin: 20px;
          position: relative;
          .img-wrapper {
            cursor: pointer;
            background: #fdfdfd;
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            height: 230px;
            box-shadow: 0 1px 3px #958e8e6e;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .project-info {
            cursor: pointer;
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            background: #dde8f2e6;
            width: 100%;
            height: 230px;
            bottom: 0;
            position: absolute;
            .project-skill{
              color: #333333;
              font-weight: bold;
              margin-top: 0;
            }
            .project-title{
              font-weight: bold;
              padding-bottom: 10px;
            }
            .project-content {
              max-width: 80%;
              font-weight: bold;
              color: #1338c0;;
            }
          }
          .project-link {
            padding: 0 10px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            h2 {
              margin: 0;
              font-size: 17px;
              //color: #fdfdfd;
              text-shadow: 0 0 5px #bdb2b2ab, 0 0 #fdfdfd;
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 10px;
              svg {
                width: 30px;
                height: 30px;
              }
            }
            a:nth-of-type(1) {
              margin-left: auto;
            }
          }
          &:hover {
            .project-info {
              animation: show-effect .3s;
              display: flex;
            }
          }
        }
        .project-wrapper:nth-of-type(1) {
          margin-left: 50%;
          animation: show-effect 1s;
        }
        .project-wrapper:nth-of-type(2) {
          animation: show-effect 1.5s;
        }
        .project-wrapper:nth-of-type(3) {
          animation: show-effect 2s;
        }
      }
    }
    .index-wrapper-contact {
      animation: scroll-page .3s;
      background: #fdfdfd;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      font-weight: bold;
      div + div {
        padding-top: 5px;
      }
      h3 {
        padding-top: 20px;
      }
      h1 {
          font-size: 2rem;
          color: #333333;
          border-right: 3px solid #333333;
          animation: blink .5s infinite, typing 4s steps(9) infinite;
          width: 0;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
          @keyframes blink {
            50% {
              border-color: transparent;
            }
          }
          @keyframes typing {
            from {
              width: 0;
            }
            25% {
              width: 160px;
            }
            to {
              width: 160px;
            }
          }
        }
    }
  }
}